{% extends 'clientes/base.html' %}
{% load static %}
{% block content %}
<img src="{% static 'clientes/img/gato.jpg' %}" alt="gato">
<a href="{% url 'clientes:index' %}">Volver</a><br>
Fecha de Registro: {{ cliente.fecha_registro }} <br>

<form action="{% url 'clientes:crear_cuenta' cliente.id %}" method="POST">
    {% csrf_token %}
    <input type="text" name="categoria" id="categoria"><label for="categoria">Categoria</label>
    <input type="submit" value="Abrir Cuenta">
</form>

<h3>Cuentas:</h3>
{% if lista_cuentas %}
<ul>
    {% for cuenta in lista_cuentas %}
    <li>
        id: {{ cuenta.id }} -- Cat: {{ cuenta.categoria }} -- Balance: {{ cuenta.balance }} 
        <a href="{% url 'clientes:borrar_cuenta' cliente.id cuenta.id %}">Borrar</a>
    </li>
    {% endfor %}
</ul>
{% else %}
Este cliente, no tiene cuentas!
{% endif %}

{% endblock %}


{% block title %} Detalle {% endblock %}

{% block header %} Detalle Cliente: {{ cliente.nombre }} {% endblock %}