{% extends 'clientes/base.html' %}
{% block title %} Clientes {% endblock %}

{% block header %} Clientes {% endblock %}

{% block content %}
    <form action="{% url 'clientes:crear_cliente' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="nombre" id="nombre"><label for="nombre">Nombre</label>
        <input type="submit" value="Crear Cliente">
    </form>
    {% if lista_clientes %}
    <ul>
        {% for cliente in lista_clientes %}
        <li>{{ cliente.id }}: 
            <a href="{% url 'clientes:detalle' cliente.id %}">{{ cliente.nombre }}</a>
            ---
            cuentas: {{ cliente.cuenta_set.count }} 
            <a href="{% url 'clientes:borrar_cliente' cliente.id %}">Borrar</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <h4>No hay clientes que mostrar :c</h4>
    {% endif %}
{% endblock %}